{% extends 'base.html' %}
    

<!-- TITLE -->
{% block head_title %}
Projects
{% endblock head_title %}


<!-- BODY -->
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Home page/Projects page</h1>
    </div>
</div>

<!-- Form for projects -->
<div class="row mb-4">
    <div class = 'col-md-4 mx-auto col-10'>
        <form class='form' id='project-create-form' method='POST' action='/create-project'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <div class='d-none alert alert-danger' id='project-form-error'></div>
            <textarea required='required' class='form-control' name='title', placeholder='Title...'></textarea>
            <textarea required='required' class='form-control' name='description', placeholder='Description...'></textarea>
            <textarea required='required' class='form-control' name='owner', placeholder='Owner...'></textarea>
            <!-- <textarea required='required' class='form-control' name='user', placeholder='Owner...'></textarea> -->
            <input required='required' type="date" name="begin_date" value="2018-07-22">
            <button type='submit' class='btn btn-primary'>Add Project</button>
        </form>
    </div>
</div>


<div class="row" id="projects">
    replace me
</div>

<script>

//Straight from Django documentation
const getCookie = (name) =>
{
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') 
    {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) 
        {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


let handleMemberAction = (project_id, form, action) =>
{
    let new_member= document.getElementById(form).value;
    const url = "/api/projects/action"
    const method = "POST"
    const data = JSON.stringify({
        id: project_id,
        action: action,
        new_member: new_member
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = () =>
    {
        console.log(xhr.status)
        console.log(xhr.response)
    }
    xhr.send(data)
    document.getElementById(form).value = '';
    loadProjects(projectElements);
}

let handleFormError = (msg, display) =>
{
    let myError = document.getElementById("project-form-error")
    if(display === true)
    {
        //show error
        myError.setAttribute("class", "d-block alert alert-danger")
        myError.innerHTML = msg
    }
    else
    {
        //hide error
        myError.setAttribute("class", "d-none alert alert-danger")
    }
}

const handleProjectFormSubmit = (event) =>
{
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() 
    {
        if(xhr.status === 201)
        {
            handleFormError("", false)
            const newProjectJson = xhr.response
            const newProjectElem = formatProjectElement(newProjectJson)
            const ogHtml = projectElements.innerHTML
            projectElements.innerHTML = newProjectElem + ogHtml
            myForm.reset() //resets form (obviously)
        }
        else if(xhr.status === 400)
        {
            const errorJson = xhr.response
            const contError = Object.values(errorJson)
            let errorMessage;
            if(contError)
            {
                errorMessage = contError[0]
                if(errorMessage)
                {
                    handleFormError(errorMessage, true)
                }
                else 
                {
                    alert("Error occured. Please try again.")
                }
            }
            else
            {
                alert("Error occured. Please try again.")
            }
        }
        else if(xhr.status === 401)
        {
            alert("You must login!")
            window.location.href = '/login'
        }
        else if(xhr.status === 403)
        {
            alert("You must login!")
            window.location.href = '/login'
        }
        else if(xhr.status === 500)
        {
            alert("There was a server error, please try again")
        }
    }
    xhr.onerror = function()
    {
        alert("Errors occurred")
    }
    xhr.send(myFormData)
}

const projectFormCreateElements = document.getElementById("project-create-form")

projectFormCreateElements.addEventListener("submit", handleProjectFormSubmit)

const projectElements = document.getElementById("projects")

const loadProjects = (projectElements) =>
{
    const xhr = new XMLHttpRequest()
    const type = "GET"
    const url = "/view-projects"
    const responseType = "json"

    xhr.responseType = "json";
    xhr.open(type, url);
    xhr.onload = function() 
    {
        const listedItems = xhr.response
        let finalElem = "";
        for(i=0; i<listedItems.length; i++)
        {
            finalElem += formatProjectElement(listedItems[i])
        }
        projectElements.innerHTML = finalElem
    }
    xhr.send();
}

loadProjects(projectElements);

let formatProjectElement = (item) =>
{
    tempElem = "<div class='mb-4 sprint col-12 border-top border-bottom py-3'";
    tempElem += "id='project-" + item.id + "'><h3>" + item.title + "</h3>";
    tempElem += "<p>Start: " + item.begin_date + "</p>";
    tempElem += "<p>Description: " + item.description + "</p>";
    tempElem += "<p>ID: " + item.id + "</p>";
    tempElem += "<p>Owner: " + item.user + "</p>";
    tempElem += "<p>Progress: " + item.progress + "</p>";
    tempElem += "<p>Members: " + item.members + "</p>";
    tempElem += "<div class='btn-group'><button class='btn btn-primary'";
    tempElem += "onclick=\"window.location=\'sprints-home/"+ item.id + "\'\"";
    tempElem += ">Sprints</button></div>";
    //This is the form below for adding
    tempElem += "<form id='addForm" + item.id + "' >"
    tempElem += "<label for='addName'>Username to add to project </label>"
    tempElem += "<input id='addName"+ item.id +"' name='name' value='' placeholder='Enter Username'>"
    //Add button
    tempElem += "<button type='button' class='btn btn-info' onclick=\"handleMemberAction"
    tempElem += "(" + item.id + ",'addName" + item.id + "', 'add')\">Add Member</button>"
    //Remove button
    tempElem += "<button type='button' class='btn btn-danger' onclick=\"handleMemberAction"
    tempElem += "(" + item.id + ",'addName" + item.id + "', 'remove')\">Remove Member</button>"
    tempElem += "</form></div>"
    return(tempElem)
}

</script>
{% endblock content %}