{% extends 'base.html' %}
    

<!-- TITLE -->
{% block head_title %}
Sprints
{% endblock head_title %}


<!-- BODY -->
{% block content %}


<div class="row text-center">
    <div class="col">
        <h1>This is the sprints page</h1>
    </div>
</div>

<div class="row" id="sprints">
    replace me
</div>

<script>
//Here I am getting what the number is in the url
let num = document.URL;
let count = num.length - 1;
let str = '';



let isNumeric = (value) => {
    return /^-{0,1}\d+$/.test(value);
}

while(isNumeric(num.substring(count, count + 1)))
{
    str = num.substring(count, count + 1) + str;
    count = count - 1;
};
console.log(str)

const sprintsElements = document.getElementById("sprints");
const xhr = new XMLHttpRequest();
const type = "GET";

//str is the number of the project
const url = "/sprints/" + str;
const responseType = "json";

xhr.responseType = "json";
xhr.open(type, url);
xhr.onload = function() {
    const listedItems = xhr.response.response;
    let finalElem = "";
    let tempElem = "";
    for(i=0; i<listedItems.length; i++){
        tempElem = "<div class='mb-4 sprint col-12 border py-3' id='sprint-" + listedItems[i].number + "'><h3>Sprint Number " + listedItems[i].number + "</h3>";
        tempElem += "<p>Date: " + listedItems[i].start_date + "</p>";
        tempElem += "<p>End: " + listedItems[i].start_date + "</p>";
        tempElem += "<p>Goal: " + listedItems[i].goal + "</p>";
        tempElem += "<div class='btn-group'><button class='btn btn-primary'>Tasks</button></div></div>"
        finalElem += tempElem;
    };
    sprintsElements.innerHTML = finalElem;
};
xhr.send();

</script>
{% endblock content %}